:root{
    --color-platinum: #E8E9EB;
    --color-alabaster: #E0DFD5;
    --color-onyx: #313638;

    --fontfamily-headings: 'Simplifica', sans-serif;
    --fontfamily-text: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: var(--color-onyx);
}

.bg-platinum{
    background-color: var(--color-platinum);
}

.bg-code{
    background-image: url('../images/zdjencie.jpg');
    background-size: cover;
    color: var(--color-alabaster);
}

.bg-alabaster{
    background-color: var(--color-alabaster);
}

.bg-onyx{
    background-color: var(--color-onyx);
    color: var(--color-platinum);
}

.new-paragraph{
    transition: opacity .7s ease;
    padding: auto;
    opacity: 0;
}

@media (max-width: 210px){
    body{
        display: none;
    }
}

body{
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    color: var(--color-onyx);
    font: var(--fontfamily-text);
    font-size: 20px;
}


header{
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}

h1,h2{
    font: var(--fontfamily-headings);
    text-align: center;
}

h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

p{
    font-size: 0.7em;
}

h2{
    margin: 1em 0 1em 0;
    font-size: 1.5em;
}

section{
    padding: 1.5em .5em;
    margin: 0;
    max-width: 100%;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 15rem;
    position: relative;
}

#contact::before{
    content: "";
    background-color: var(--color-onyx);
    width: 100%;
    height: 100%;
    position: absolute;
    filter: opacity(0.6);
    z-index: 0;
}


#contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    height: 12em;
    z-index: 1;

    transition: height .2s ease-in;
    transition-delay: .3s;
}

#contact-wrapper > h2{
    font-weight: 400;
    font-size: 1em;
    margin: 1em 0;
    text-align: center;
    text-shadow: 0.01em 0.05em black;
}

#contact-wrapper > p{
    font-size: 0.7em;
    text-align: center;
    position: absolute;
    top:75%;
}

#contact-button{
    padding: 0.5em;
    border: solid 0.125em var(--color-platinum);
    border-radius: 2em;
    cursor: pointer;
    font-size: 0.8em;

    transition: all ease-in-out .7s;
    transition-property: background-color, color;
}

#contact-button:hover{
    background-color: var(--color-alabaster);
    color: var(--color-onyx);
}

#benefits{
    display: flex;
    flex-direction: column;
    min-height: 45rem;
    align-items: center;
}

.article-wrapper{
    display: flex;
    flex-direction: column;
    margin-inline: 1em 1em;
    font-weight: 200;
}

h3{
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
}

.wide-article{
    margin-inline: 2em 2em;
    font-weight: 200;
}

.article-link{
    font-size: 1em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#gallery{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gallery > h2{
    font-size: 1em;
}

#gallery-display{
    width: 80vw;
    border: solid var(--color-alabaster) 0.125em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2em 0;
    z-index: 0;
}

#gallery-display > img{
    min-height: 100%;
    min-width: 100%;
    display: block;

    transition: transform, ease-in-out, .5s;
}

#previous{
    height: 100%;
    width: 5%;
    background-image: linear-gradient(to left, var(--color-onyx)95%, white);
    filter: opacity(0.6);
    position: absolute;
    display: none;
    z-index: 1;
}

#next{
    height: 100%;
    width: 5%;
    background-image: linear-gradient(to right, var(--color-onyx)95%, white);
    filter: opacity(0.6);
    position: absolute;
    left: 95.15%;
    display: none;
    z-index: 1;
}

#gallery-display:hover > #previous, #gallery-display:hover > #next{
    display: block;
}

@media(min-width: 350px){
    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1em;
    }

}

@media(min-width: 650px){
    h1{
        font-size: 3rem;
    }
    #contact-wrapper > h2{
        font-size: 1.25em;
    }

    #contact-wrapper > p{
        font-size: 1em;
    }

    #contact-button{
        font-size: 1em;
    }

    .article-wrapper{
        flex-direction: row;
    }

    .split{
        flex-basis: 100%;
    }

    .split + .split{
        padding-left: 1em;
    }

    .split > p, .wide-article > p{
        font-size: 1em;
    }

    .wide-article > p{
        margin-inline: 3em 3em;
    }

    #gallery > h2{
        font-size: 2em
    }

}

@media(min-width: 610px){
    #contact-wrapper > h2{
        font-size: 1.5em;
    }
}


@media(min-width: 700px){
    h1{
        font-size: 4rem;
    }
    
    p{
        font-size: 1.5em;
    }

    header{
        min-height: 7rem;
    }

    #gallery-display{
        width: 60vw;
    }

    #gallery-display > img{
        max-height: 40rem;
    }
}


@media(min-width:900px){
    #contact-wrapper > h2{
        font-size: 2em;
    }

    #gallery > h2{
        font-size: 3em;
    }

    .new-paragraph{
        margin-top: 1.5em;
    }
}

@media(min-width: 2000px){
    h1{
        font-size: 5em;
    }

    h3{
        font-size: 2em;
    }

    .split > p, .wide-article > p{
        font-size: 1.5em;
    }

    #benefits > h2{
        font-size: 3em;
    }
}





